<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Multi File</title>
</head>
<body>
<center>
    <form method="post" enctype="multipart/form-data">
        <br />
        <br />
        File to upload (1): <input name="fileDatas" type="file"/><br />
        File to upload (2): <input name="fileDatas" type="file"/><br />
        File to upload (3): <input name="fileDatas" type="file"/><br />
        File to upload (4): <input name="fileDatas" type="file"/><br />
        File to upload (5): <input name="fileDatas" type="file"/><br />
        <br />
        <br />
        <input type="text" name="description" value="Description" />
        <br />
        <br />
        <input type="submit" value="Upload">
    </form>
</center>
</body>
</html>
